<div class="buttons">
    <div id="red" class="color-button"></div>
    <div id="green" class="color-button"></div>
    <div id="blue" class="color-button"></div>
    <div id="yellow" class="color-button"></div>
    <div id="line-width" class="line-button">
    </div>
</div>