<div class="buttons">
    <div id="red" class="color-button"></div>
    <div id="green" class="color-button"></div>
    <div id="blue" class="color-button"></div>
    <div id="yellow" class="color-button"></div>
    <div id="line-width" class="line-button">
    </div>
</div>

<div class="invite-section">
    <button class="invite-button">
        Invite Friends
    </button>

    <div class="invite-field">
        <p>Copy this link and send to your doodle partner</p>
        <input id="input" type="text" value={{url}} />
        <button id="copy">Copy</button>
    </div>
</div>

<div id="users">
    <h2 id="number-of-doodlers"></h2>
</div>

<script src="/libraries/p5.js" type="text/javascript"></script>
<script src="/sketch.js" type="text/javascript"></script>