<div class="buttons">
    <p id="color-text">color</p>
    <div class="color-buttons">
        <div id="black" class="color-button"></div>
        <div id="white" class="color-button"></div>
        <div id="red" class="color-button"></div>
        <div id="green" class="color-button"></div>
        <div id="blue" class="color-button"></div>
        <div id="yellow" class="color-button"></div>
        <div id="brown" class="color-button"></div>
        <div id="grey" class="color-button"></div>
        <div id="pink" class="color-button"></div>
    </div>
    <p id="shape-text">shape</p>
    <div class="shape-buttons">
        <div id="line" class="line-button"></div>
        <div id="circle" class="circle-button"></div>
        <div id="circle-outline" class="circle-button"></div>
    </div>
    <p>width</p>
    <div class="width-buttons">
        <div id="line-width-container">
            <div id="line-width" class="linewidth-button"></div>
        </div>
        <div id="circle-width" class="circle-button"></div>
    </div>
</div>

<div class="invite-section-opendoodle">
    <button class="invite-button">
        Invite Friends
    </button>

    <div class="invite-field">
        <p>Copy this link and send to your doodle partner</p>
        <input id="input" type="text" value={{url}} />
        <button id="copy">Copy</button>
    </div>
</div>

<div id="users">
    <h2 id="number-of-doodlers"></h2>
</div>

<div id="after-draw-buttons">
    <button id="redo">start over</button>
</div>

<script src="/libraries/p5.js" type="text/javascript"></script>
<script src="/sketch.js" type="text/javascript"></script>