{{#if url}}<a href="/doodle/{{url}}">
        <h2 class="start-button">start doodling</h2>
    </a>{{/if}}

{{#if url}}<a href="/ec/{{url}}">
        <h2 class="start-button">exquisite corpse</h2>
    </a>{{/if}}