html,
body {
    height: 100%;
    font-family: monospace;
}

body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

.buttons {
    position: fixed;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    z-index: 1000;
    background-color: white;
}

.color-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 150px;
}

.shape-buttons,
.width-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 150px;
    align-items: center;
}

.color-button {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.circle-button {
    width: 28px;
    height: 28px;
    margin: 10px;
}
#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#black {
    background-color: black;
}
#brown {
    background-color: brown;
}
#grey {
    background-color: grey;
}
#pink {
    background-color: pink;
}

#white {
    width: 28px;
    height: 28px;
    background-color: white;
    border: 1px solid black;
}

#circle {
    border-radius: 50%;
    background-color: lightgray;
}

#circle-outline {
    background-color: lightgray;
    border-radius: 50%;
}

#circle-width {
    border: 1px black solid;
    background-color: white;
    border-radius: 50%;
}

#line-width-container {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid black;
}

.linewidth-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 30px;
    background: black;
}

.line-button {
    width: 30px;
    height: 5px;
    background: black;
    margin: 10px;
}

.cover {
    background-color: black;
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 0px;
}

.invite-section-opendoodle {
    position: absolute;
    top: 10px;
    left: 10px;
}

#invite-section {
    margin-top: 30px;
    text-align: center;
}

.invite-field > p {
    font-family: monospace;
}

.invite-button {
    background-color: white;
    font-family: monospace;
    border: black 3px solid;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    visibility: hidden;
}

#users {
    position: absolute;
    top: 40px;
    right: 10px;
}

.invite-field {
    visibility: hidden;
}

main {
    border: 3px solid black;
}

#cover-top {
    width: 600px;
    height: 280px;
    background-color: black;
    position: absolute;
    z-index: 100000;
}

#cover-bottom {
    width: 600px;
    height: 280px;
    background-color: black;
    position: absolute;
    z-index: 100000;
    transform: translateY(3px);
}

.done-doodling {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    right: 50px;
}

.names {
    height: 600px;
    background-color: tomato;
}

#player1 {
    position: absolute;
    top: 0;
}

#player2 {
    position: absolute;
    bottom: 0;
}

.done-button {
    background-color: burlywood;
    font-family: monospace;
    border: black 3px solid;
    border-radius: 10px;
    height: 30px;
    width: 140px;
}

#after-draw-buttons {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 10px;
    visibility: hidden;
}

.redo-button {
    background-color: burlywood;
    font-family: monospace;
    border: black 3px solid;
    border-radius: 10px;
    height: 30px;
    width: 140px;
}

.modal {
    background-color: rgba(185, 121, 121, 1);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000001;
}

.waiting-modal {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000001;
}

.modal-center {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
}

.waiting-modal-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0 0 99999px rgba(185, 121, 121, 1);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#waiting {
    background-color: hsl(90, 100%, 50%, 0%);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}

#waiting-text {
    color: white;
    font-size: 60px;
}
